<launch>
	  <arg name="log" default="false"/>

	<node name="output_multiplexer" pkg="nautonomous_actuation_selector" type="output_multiplexer" output="screen"/>

	<node pkg="rosbag" type="record" name="rosbag_output_multiplexer" args="record -o /media/NautonomousBlackBox/bags/Output/multiplexer /manual_propulsion /autonomous_propulsion /multiplexed_propulsion" output="screen" if="$(arg log)"/>
</launch>
